# empezaremos por hacer eval(), explode(), json_normalize y merge a los datasets credits y movies

In [1]:
import pandas as pd
credits = pd.read_csv('credits.csv', low_memory=False)
movies = pd.read_csv('movies_dataset.csv', low_memory=False)
print(credits.shape)
print(movies.shape)

(45476, 3)
(45466, 24)

### Ambas columnas tienen en comun el id de la pelicula.
### Se eliminaran los nulos y duplicados en cada una, y luego se uniran las tablas conservando los valores que esten en comun

### Primero se hara con credits.csv

In [2]:
# revisando cuantas filas estan COMPLETAMENTE duplicadas
credits[credits.duplicated()==True].shape

(37, 3)

In [3]:
# eliminando filas COMPLETAMENTE DUPLICADAS
credits.drop_duplicates(inplace=True)
# Revisando la eliminacion
credits[credits.duplicated()==True].shape

(0, 3)

In [4]:
# Revisando duplicacion de id donde algun otro atributo es diferente
print(credits[credits.duplicated(subset=['id'], keep=False)==True].shape)

credits[credits.duplicated(subset=['id'], keep=False)==True].sort_values(by='id')
# se observa a primera vista que la diferencia se encuentra en la columna crew, al menos en el valor de la llave credit_id

(14, 3)

,cast,crew,id
5865,"[{'cast_id': 15, 'character': 'Chuck Barris', ...","[{'credit_id': '52fe43e2c3a36847f80760b5', 'de...",4912
33838,"[{'cast_id': 15, 'character': 'Chuck Barris', ...","[{'credit_id': '52fe43e2c3a36847f80760a9', 'de...",4912
26638,"[{'cast_id': 1, 'character': 'Gerard Carriere'...","[{'credit_id': '52fe47bfc3a368484e0d77bf', 'de...",69234
9576,"[{'cast_id': 1, 'character': 'Gerard Carriere'...","[{'credit_id': '5468acec22136e68c9000d53', 'de...",69234
38882,"[{'cast_id': 1004, 'character': 'Luke Oarum', ...","[{'credit_id': '52fe4a269251416c750df61d', 'de...",99080
16167,"[{'cast_id': 1004, 'character': 'Luke Oarum', ...","[{'credit_id': '52fe4a269251416c750df623', 'de...",99080
23533,"[{'cast_id': 3, 'character': 'Camille Claudel'...","[{'credit_id': '577ed5389251416976004432', 'de...",110428
4356,"[{'cast_id': 3, 'character': 'Camille Claudel'...","[{'credit_id': '52fe4ad6c3a36847f81e461b', 'de...",110428
30013,"[{'cast_id': 4, 'character': 'Mihoko Nakagawa'...","[{'credit_id': '56365ed9925141285701b06e', 'de...",132641
838,"[{'cast_id': 4, 'character': 'Mihoko Nakagawa'...","[{'credit_id': '52fe4b9ac3a368484e190d25', 'de...",132641
13220,"[{'cast_id': 12, 'character': 'Narrator', 'cre...","[{'credit_id': '52fe4c229251416c910f10d5', 'de...",159849
35809,"[{'cast_id': 12, 'character': 'Narrator', 'cre...","[{'credit_id': '52fe4c229251416c910f10d5', 'de...",159849
33196,"[{'cast_id': 1, 'character': 'Jenjira', 'credi...","[{'credit_id': '5448c8efc3a3680fb4001582', 'de...",298721
40051,"[{'cast_id': 1, 'character': 'Jenjira', 'credi...","[{'credit_id': '5739ceeac3a3683c9d000c12', 'de...",298721

In [5]:
# son pocas peliculas, asi que para simplificar, eliminamos todos estos registros

credits.drop_duplicates(inplace=True,subset=['id'],keep=False)
credits.shape

(45425, 3)

In [6]:
type(credits['cast'][0])
# los valores en cast inicialmente son strings

str

In [7]:
type(credits['crew'][0])
# los valores en crew inicialmente son strings

str

* Para el modelo, de credits usaremos el cast (los 5 actores mas protagonicos) y el director.
* Por las limitaciones de las herramientas, se sabe que se hara una reduccion significativa del dataset.
* Por ende, si cualquiera de estos campos (cast or crew) es nulo o vacio, se eliminara del dataset.

In [8]:
# Vemos si hay listas vacias en cast. Aprovechamos que es un string para buscar de esta forma
credits[credits['cast']== '[]']

      cast                                               crew      id
137     []  [{'credit_id': '52fe4ab0c3a368484e161d3d', 'de...  124639
240     []  [{'credit_id': '52fe464ac3a36847f80f6d61', 'de...   43475
393     []  [{'credit_id': '52fe4624c3a36847f80ef0a5', 'de...   42981
438     []  [{'credit_id': '52fe448dc3a368484e029383', 'de...   24257
595     []  [{'credit_id': '52fe4aacc3a368484e16115b', 'de...  124472
...    ...                                                ...     ...
45447   []  [{'credit_id': '5981a15c92514151e0011b51', 'de...  455661
45452   []  [{'credit_id': '52fe4684c3a36847f81034f3', 'de...   44330
45458   []  [{'credit_id': '52fe4a74c3a368484e1542e9', 'de...  122036
45462   []  [{'credit_id': '539ef1090e0a263dd00000d7', 'de...  276895
45475   []  [{'credit_id': '593e676c92514105b702e68e', 'de...  461257

[2414 rows x 3 columns]

In [9]:
# nos quedamos solo con aquellos que no son listas vacias
credits=credits[credits['cast']!= '[]']
credits.shape

(43011, 3)

In [10]:
# Hacemos lo mismo con crew
credits[credits['crew']== '[]']

                                                    cast crew      id
189    [{'cast_id': 4, 'character': 'Himself', 'credi...   []   56088
614    [{'cast_id': 1, 'character': 'Grace Rhodes', '...   []  123505
635    [{'cast_id': 0, 'character': 'Joachim Krippo',...   []  339428
863    [{'cast_id': 1, 'character': 'Ana Alonzo', 'cr...   []  253632
1107   [{'cast_id': 1, 'character': 'Narrator (voice)...   []   79306
...                                                  ...  ...     ...
45086  [{'cast_id': 0, 'character': "Richard 'RJ' Hug...   []  298540
45131  [{'cast_id': 1, 'character': 'Anne Kennedy', '...   []   21893
45261  [{'cast_id': 1, 'character': 'Herr Karl', 'cre...   []   28469
45277  [{'cast_id': 0, 'character': 'Herself', 'credi...   []  458618
45371  [{'cast_id': 1, 'character': 'Oliver Threthewe...   []  214753

[350 rows x 3 columns]

In [11]:
credits=credits[credits['crew']!= '[]']
credits.shape

(42661, 3)

## Primera fase de limpieza de credits lista
## Ahora vamos con movies

* De movies nos quedaremos con la columna id, para usarla como union con credits, y aquellas columnas con informacion para el modelo
* las columnas que necesitamos son aquellas que puedan usarse para describir a las peliculas, por ellos las que conservaremos son: belongs_to_collection, genres, overview, production companies, tagline y title

In [12]:
movies.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

# Reduccion hecha para facilitar el modelo
* El modelo seleccionado (similitud del coseno) evalua vectores creados a partir de la similitud de palabras, y algunos campos pueden tener palabras en otro idioma afectando negativemente el rendimiento del modelo, por ende nos quedaremos solo con las peliculas en idioma ingles

In [13]:
# tomamos el primer valor y vemos el tipo de dato
type(movies['original_language'][0])

str

In [14]:
movies['original_language'][:5]
# para el idioma ingles, el codigo es "en", el cual sera el que conservaremos

0    en
1    en
2    en
3    en
4    en
Name: original_language, dtype: object

In [15]:
movies = movies[movies['original_language']== 'en']

* Ahora procedemos a seleccionar las columnas de interes para el modelo

In [16]:
movies = movies[['belongs_to_collection', 'genres', 'id', 'overview','production_companies', 'tagline', 'title', ]]
movies.head(3)

,belongs_to_collection,genres,id,overview,production_companies,tagline,title
0,"{'id': 10194, 'name': 'Toy Story Collection', ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,"Led by Woody, Andy's toys live happily in his ...","[{'name': 'Pixar Animation Studios', 'id': 3}]",NaN,Toy Story
1,NaN,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,When siblings Judy and Peter discover an encha...,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",Roll the dice and unleash the excitement!,Jumanji
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...","[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,A family wedding reignites the ancient feud be...,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men

In [17]:
movies.shape

(32269, 7)

In [18]:
# buscando registros COMPLETAMENTE repetidos
movies[movies.duplicated()==True].shape

(18, 7)

In [19]:
# eliminando filas COMPLETAMENTE DUPLICADAS
movies.drop_duplicates(inplace=True)
# Revisando la eliminacion
movies.shape

(32251, 7)

In [20]:
# Revisando duplicacion de id donde algun otro atributo es diferente
print(movies[movies.duplicated(subset=['id'], keep=False)==True].shape)

(0, 7)

In [21]:
movies[movies['id'].isnull()].shape
# no hay valores nulos en id

(0, 7)

In [22]:
# buscando valores nulos en title
movies[movies['title'].isnull()].shape

(2, 7)

In [23]:
# como necesitamos input y output de titulos de peliculas, un valor nulo no aporta al modelo.
# se eliminaran los valores nulos en title para simplificar
movies.dropna(subset='title', inplace=True)
movies.shape

(32249, 7)

## Combinaremos movies y credits, donde solo conservaremos los id que coincidan

In [24]:
print(movies.shape)
print(credits.shape)

(32249, 7)
(42661, 3)

In [25]:
credits['id'].dtype
# comprobando que id en credits es un integer para posterior merge con movies

dtype('int64')

In [26]:
movies['id'].dtype

dtype('O')

In [27]:
# cambiamos el tipo de dato de "id" en movies a integer para poder combinar
movies['id']=movies['id'].astype(int)
movies['id'].dtype

dtype('int64')

In [28]:
# ahora si podemos hacer el merge
modelo_mc_merge = pd.merge(movies,credits,how='inner',on='id')
modelo_mc_merge.shape

(30025, 9)

In [29]:
modelo_mc_merge.head(3)

,belongs_to_collection,genres,id,overview,production_companies,tagline,title,cast,crew
0,"{'id': 10194, 'name': 'Toy Story Collection', ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,"Led by Woody, Andy's toys live happily in his ...","[{'name': 'Pixar Animation Studios', 'id': 3}]",NaN,Toy Story,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,NaN,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,When siblings Judy and Peter discover an encha...,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",Roll the dice and unleash the excitement!,Jumanji,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...","[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,A family wedding reignites the ancient feud be...,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."

## Ahora a evaluar la tabla unida

In [30]:
modelo_mc_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30025 entries, 0 to 30024
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  3064 non-null   object
 1   genres                 30025 non-null  object
 2   id                     30025 non-null  int64
 3   overview               29967 non-null  object
 4   production_companies   30025 non-null  object
 5   tagline                17481 non-null  object
 6   title                  30025 non-null  object
 7   cast                   30025 non-null  object
 8   crew                   30025 non-null  object
dtypes: int64(1), object(8)
memory usage: 2.1+ MB

## Sabemos que necesitamos un dataset reducido para trabajar en Render y "belongs_to_collection" se ve como una opcion de filtro para trabajar:
- Contiene una aceptable cantidad de datos (3064)
- Un atributo que ayuda bastante a la hora de asociar peliculas similares, lo cual resulta muy util para que el modelo de recomendacion sea acertado.

In [31]:
# creamos un dataset donde solo tomamos los registros donde "belongs_to_collection" no sean nulos
modelo_lite = modelo_mc_merge[modelo_mc_merge['belongs_to_collection'].notnull()].copy()

modelo_lite.head(3)

,belongs_to_collection,genres,id,overview,production_companies,tagline,title,cast,crew
0,"{'id': 10194, 'name': 'Toy Story Collection', ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,"Led by Woody, Andy's toys live happily in his ...","[{'name': 'Pixar Animation Studios', 'id': 3}]",NaN,Toy Story,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...","[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,A family wedding reignites the ancient feud be...,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
4,"{'id': 96871, 'name': 'Father of the Bride Col...","[{'id': 35, 'name': 'Comedy'}]",11862,Just when George Banks has recovered from his ...,"[{'name': 'Sandollar Productions', 'id': 5842}...",Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."

In [32]:
# se deben resetear los index, ya que mas adelante sera necesario para la extraccion correcta de los valores de recomendacion
modelo_lite = modelo_lite.reset_index(drop=True)
modelo_lite.head(3)

,belongs_to_collection,genres,id,overview,production_companies,tagline,title,cast,crew
0,"{'id': 10194, 'name': 'Toy Story Collection', ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,"Led by Woody, Andy's toys live happily in his ...","[{'name': 'Pixar Animation Studios', 'id': 3}]",NaN,Toy Story,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,"{'id': 119050, 'name': 'Grumpy Old Men Collect...","[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,A family wedding reignites the ancient feud be...,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
2,"{'id': 96871, 'name': 'Father of the Bride Col...","[{'id': 35, 'name': 'Comedy'}]",11862,Just when George Banks has recovered from his ...,"[{'name': 'Sandollar Productions', 'id': 5842}...",Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."

## Trasformaciones para generar el modelo

In [33]:
modelo_lite.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3064 entries, 0 to 3063
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  3064 non-null   object
 1   genres                 3064 non-null   object
 2   id                     3064 non-null   int64
 3   overview               3064 non-null   object
 4   production_companies   3064 non-null   object
 5   tagline                2217 non-null   object
 6   title                  3064 non-null   object
 7   cast                   3064 non-null   object
 8   crew                   3064 non-null   object
dtypes: int64(1), object(8)
memory usage: 215.6+ KB

## Lo que se hará ahora es trabajar la info de cada columna y conservar solo lo que necesitamos

In [34]:
print(type(modelo_lite['belongs_to_collection'][1]))
modelo_lite['belongs_to_collection'][1]

# esta columna es un string

<class 'str'>

"{'id': 119050, 'name': 'Grumpy Old Men Collection', 'poster_path': '/nLvUdqgPgm3F85NMCii9gVFUcet.jpg', 'backdrop_path': '/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg'}"

* De aca necesitamos solo el nombre, por lo que se aplicara el siguiente codigo

In [35]:
# con la funcion eval() podemos convertir el diccionario que esta como texto en diccionario python
# luego extraemos el valor de name que es lo que usaremos para el modelo
def coleccion(diccionario):
    diccionario = eval(diccionario)
    return diccionario['name'] 

modelo_lite['belongs_to_collection'] = modelo_lite['belongs_to_collection'].apply(coleccion)
modelo_lite['belongs_to_collection'][:5]

0              Toy Story Collection
1         Grumpy Old Men Collection
2    Father of the Bride Collection
3             James Bond Collection
4                  Balto Collection
Name: belongs_to_collection, dtype: object

In [36]:
print(type(modelo_lite['genres'][0]))
print(modelo_lite['genres'][0])
print(type(modelo_lite['production_companies'][0]))
print(modelo_lite['production_companies'][0])

<class 'str'>
[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]
<class 'str'>
[{'name': 'Pixar Animation Studios', 'id': 3}]

* De aca igualmente tomaremos solo los "name" y los escribiremos en una lista

In [37]:
# en este caso eval() genera una lista python, sobre la cual debemos iterar por cada elemento (diccionario) para
# extraer los nombres necesarios 
def extract_name(lista):
    return [d['name'] for d in eval(lista)]  # codigo escrito como list_comprehension para simplicidad

modelo_lite['genres'] = modelo_lite['genres'].apply(extract_name)
modelo_lite['production_companies'] = modelo_lite['production_companies'].apply(extract_name)

print(modelo_lite['genres'][:5])
print(modelo_lite['production_companies'][:5])

0       [Animation, Comedy, Family]
1                 [Romance, Comedy]
2                          [Comedy]
3     [Adventure, Action, Thriller]
4    [Family, Animation, Adventure]
Name: genres, dtype: object
0                            [Pixar Animation Studios]
1                       [Warner Bros., Lancaster Gate]
2         [Sandollar Productions, Touchstone Pictures]
3                    [United Artists, Eon Productions]
4    [Universal Pictures, Amblin Entertainment, Amb...
Name: production_companies, dtype: object

## Para el caso de cast, la lista esta ordernada segun el protagonismo. Tomaremos los primeros 5 valores que son los actores mas protagonicos de cada pelicula

In [38]:
modelo_lite['cast'][0]

"[{'cast_id': 14, 'character': 'Woody (voice)', 'credit_id': '52fe4284c3a36847f8024f95', 'gender': 2, 'id': 31, 'name': 'Tom Hanks', 'order': 0, 'profile_path': '/pQFoyx7rp09CJTAb932F2g8Nlho.jpg'}, {'cast_id': 15, 'character': 'Buzz Lightyear (voice)', 'credit_id': '52fe4284c3a36847f8024f99', 'gender': 2, 'id': 12898, 'name': 'Tim Allen', 'order': 1, 'profile_path': '/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg'}, {'cast_id': 16, 'character': 'Mr. Potato Head (voice)', 'credit_id': '52fe4284c3a36847f8024f9d', 'gender': 2, 'id': 7167, 'name': 'Don Rickles', 'order': 2, 'profile_path': '/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg'}, {'cast_id': 17, 'character': 'Slinky Dog (voice)', 'credit_id': '52fe4284c3a36847f8024fa1', 'gender': 2, 'id': 12899, 'name': 'Jim Varney', 'order': 3, 'profile_path': '/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg'}, {'cast_id': 18, 'character': 'Rex (voice)', 'credit_id': '52fe4284c3a36847f8024fa5', 'gender': 2, 'id': 12900, 'name': 'Wallace Shawn', 'order': 4, 'profile_path': '/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg'}, {'cast_id': 19, 'character': 'Hamm (voice)', 'credit_id': '52fe4284c3a36847f8024fa9', 'gender': 2, 'id': 7907, 'name': 'John Ratzenberger', 'order': 5, 'profile_path': '/yGechiKWL6TJDfVE2KPSJYqdMsY.jpg'}, {'cast_id': 20, 'character': 'Bo Peep (voice)', 'credit_id': '52fe4284c3a36847f8024fad', 'gender': 1, 'id': 8873, 'name': 'Annie Potts', 'order': 6, 'profile_path': '/eryXT84RL41jHSJcMy4kS3u9y6w.jpg'}, {'cast_id': 26, 'character': 'Andy (voice)', 'credit_id': '52fe4284c3a36847f8024fc1', 'gender': 0, 'id': 1116442, 'name': 'John Morris', 'order': 7, 'profile_path': '/vYGyvK4LzeaUCoNSHtsuqJUY15M.jpg'}, {'cast_id': 22, 'character': 'Sid (voice)', 'credit_id': '52fe4284c3a36847f8024fb1', 'gender': 2, 'id': 12901, 'name': 'Erik von Detten', 'order': 8, 'profile_path': '/twnF1ZaJ1FUNUuo6xLXwcxjayBE.jpg'}, {'cast_id': 23, 'character': 'Mrs. Davis (voice)', 'credit_id': '52fe4284c3a36847f8024fb5', 'gender': 1, 'id': 12133, 'name': 'Laurie Metcalf', 'order': 9, 'profile_path': '/unMMIT60eoBM2sN2nyR7EZ2BvvD.jpg'}, {'cast_id': 24, 'character': 'Sergeant (voice)', 'credit_id': '52fe4284c3a36847f8024fb9', 'gender': 2, 'id': 8655, 'name': 'R. Lee Ermey', 'order': 10, 'profile_path': '/r8GBqFBjypLUP9VVqDqfZ7wYbSs.jpg'}, {'cast_id': 25, 'character': 'Hannah (voice)', 'credit_id': '52fe4284c3a36847f8024fbd', 'gender': 1, 'id': 12903, 'name': 'Sarah Freeman', 'order': 11, 'profile_path': None}, {'cast_id': 27, 'character': 'TV Announcer (voice)', 'credit_id': '52fe4284c3a36847f8024fc5', 'gender': 2, 'id': 37221, 'name': 'Penn Jillette', 'order': 12, 'profile_path': '/zmAaXUdx12NRsssgHbk1T31j2x9.jpg'}]"

In [39]:
# similar a extract_name()
def casting(lista):
    return [d['name'] for d in eval(lista)[:5]] # eval(lista) es una lista, y el [:5] hace un slicing de los primeros 5

modelo_lite['cast'] = modelo_lite['cast'].apply(casting)

In [40]:
# probando que tenemos solo 5
modelo_lite['cast'][0]

['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim Varney', 'Wallace Shawn']

* Para crew, usaremos solo los directores

In [41]:
modelo_lite['crew'][0]

'[{\'credit_id\': \'52fe4284c3a36847f8024f49\', \'department\': \'Directing\', \'gender\': 2, \'id\': 7879, \'job\': \'Director\', \'name\': \'John Lasseter\', \'profile_path\': \'/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg\'}, {\'credit_id\': \'52fe4284c3a36847f8024f4f\', \'department\': \'Writing\', \'gender\': 2, \'id\': 12891, \'job\': \'Screenplay\', \'name\': \'Joss Whedon\', \'profile_path\': \'/dTiVsuaTVTeGmvkhcyJvKp2A5kr.jpg\'}, {\'credit_id\': \'52fe4284c3a36847f8024f55\', \'department\': \'Writing\', \'gender\': 2, \'id\': 7, \'job\': \'Screenplay\', \'name\': \'Andrew Stanton\', \'profile_path\': \'/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg\'}, {\'credit_id\': \'52fe4284c3a36847f8024f5b\', \'department\': \'Writing\', \'gender\': 2, \'id\': 12892, \'job\': \'Screenplay\', \'name\': \'Joel Cohen\', \'profile_path\': \'/dAubAiZcvKFbboWlj7oXOkZnTSu.jpg\'}, {\'credit_id\': \'52fe4284c3a36847f8024f61\', \'department\': \'Writing\', \'gender\': 0, \'id\': 12893, \'job\': \'Screenplay\', \'name\': \'Alec Sokolow\', \'profile_path\': \'/v79vlRYi94BZUQnkkyznbGUZLjT.jpg\'}, {\'credit_id\': \'52fe4284c3a36847f8024f67\', \'department\': \'Production\', \'gender\': 1, \'id\': 12894, \'job\': \'Producer\', \'name\': \'Bonnie Arnold\', \'profile_path\': None}, {\'credit_id\': \'52fe4284c3a36847f8024f6d\', \'department\': \'Production\', \'gender\': 0, \'id\': 12895, \'job\': \'Executive Producer\', \'name\': \'Ed Catmull\', \'profile_path\': None}, {\'credit_id\': \'52fe4284c3a36847f8024f73\', \'department\': \'Production\', \'gender\': 2, \'id\': 12896, \'job\': \'Producer\', \'name\': \'Ralph Guggenheim\', \'profile_path\': None}, {\'credit_id\': \'52fe4284c3a36847f8024f79\', \'department\': \'Production\', \'gender\': 2, \'id\': 12897, \'job\': \'Executive Producer\', \'name\': \'Steve Jobs\', \'profile_path\': \'/mOMP3SwD5qWQSR0ldCIByd3guTV.jpg\'}, {\'credit_id\': \'52fe4284c3a36847f8024f8b\', \'department\': \'Editing\', \'gender\': 2, \'id\': 8, \'job\': \'Editor\', \'name\': \'Lee Unkrich\', \'profile_path\': \'/bdTCCXjgOV3YyaNmLGYGOxFQMOc.jpg\'}, {\'credit_id\': \'52fe4284c3a36847f8024f91\', \'department\': \'Art\', \'gender\': 2, \'id\': 7883, \'job\': \'Art Direction\', \'name\': \'Ralph Eggleston\', \'profile_path\': \'/uUfcGKDsKO1aROMpXRs67Hn6RvR.jpg\'}, {\'credit_id\': \'598331bf925141421201044b\', \'department\': \'Editing\', \'gender\': 2, \'id\': 1168870, \'job\': \'Editor\', \'name\': \'Robert Gordon\', \'profile_path\': None}, {\'credit_id\': \'5892168cc3a36809660095f9\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1552883, \'job\': \'Foley Editor\', \'name\': \'Mary Helen Leasman\', \'profile_path\': None}, {\'credit_id\': \'5531824d9251415289000945\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1453514, \'job\': \'Animation\', \'name\': \'Kim Blanchette\', \'profile_path\': None}, {\'credit_id\': \'589215969251412dcb009bf6\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1414182, \'job\': \'ADR Editor\', \'name\': \'Marilyn McCoppen\', \'profile_path\': None}, {\'credit_id\': \'589217099251412dc500a018\', \'department\': \'Sound\', \'gender\': 2, \'id\': 7885, \'job\': \'Orchestrator\', \'name\': \'Randy Newman\', \'profile_path\': \'/w0JzfoiM25nrnxYOzosPHRq6mlE.jpg\'}, {\'credit_id\': \'5693e6b29251417b0e0000e3\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1429549, \'job\': \'Color Timer\', \'name\': \'Dale E. Grahn\', \'profile_path\': None}, {\'credit_id\': \'572e2522c3a36869e6001a9c\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 7949, \'job\': \'CG Painter\', \'name\': \'Robin Cooper\', \'profile_path\': None}, {\'credit_id\': \'574f12309251415ca1000012\', \'department\': \'Writing\', \'gender\': 2, \'id\': 7879, \'job\': \'Original Story\', \'name\': \'John Lasseter\', \'profile_path\': \'/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg\'}, {\'credit_id\': \'574f1240c3a3682e7300001c\', \'department\': \'Writing\', \'gender\': 2, \'id\': 12890, \'job\': \'Original Story\', \'name\': \'Pete Docter\', \'profile_path\': \'/r6ngPgnReA3RHmKjmSoVsc6Awjp.jpg\'}, {\'credit_id\': \'574f12519251415c92000015\', \'department\': \'Writing\', \'gender\': 0, \'id\': 7911, \'job\': \'Original Story\', \'name\': \'Joe Ranft\', \'profile_path\': \'/f1BoWC2JbCcfP1e5hKfGsxkHzVU.jpg\'}, {\'credit_id\': \'574f12cec3a3682e82000022\', \'department\': \'Crew\', \'gender\': 0, \'id\': 1629419, \'job\': \'Post Production Supervisor\', \'name\': \'Patsy Bouge\', \'profile_path\': None}, {\'credit_id\': \'574f14f19251415ca1000082\', \'department\': \'Art\', \'gender\': 0, \'id\': 7961, \'job\': \'Sculptor\', \'name\': \'Norm DeCarlo\', \'profile_path\': None}, {\'credit_id\': \'5751ae4bc3a3683772002b7f\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 12905, \'job\': \'Animation Director\', \'name\': \'Ash Brannon\', \'profile_path\': \'/6ueWgPEEBHvS3De2BHYQnYjRTig.jpg\'}, {\'credit_id\': \'5891edbe9251412dc5007cd6\', \'department\': \'Sound\', \'gender\': 2, \'id\': 7885, \'job\': \'Music\', \'name\': \'Randy Newman\', \'profile_path\': \'/w0JzfoiM25nrnxYOzosPHRq6mlE.jpg\'}, {\'credit_id\': \'589213d39251412dc8009832\', \'department\': \'Directing\', \'gender\': 0, \'id\': 1748707, \'job\': \'Layout\', \'name\': \'Roman Figun\', \'profile_path\': None}, {\'credit_id\': \'5892173dc3a3680968009351\', \'department\': \'Sound\', \'gender\': 2, \'id\': 4949, \'job\': \'Orchestrator\', \'name\': \'Don Davis\', \'profile_path\': None}, {\'credit_id\': \'589217cec3a3686b0a0052ba\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1372885, \'job\': \'Music Editor\', \'name\': \'James Flamberg\', \'profile_path\': None}, {\'credit_id\': \'58921831c3a3686348004a64\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1739962, \'job\': \'Negative Cutter\', \'name\': \'Mary Beth Smith\', \'profile_path\': None}, {\'credit_id\': \'58921838c3a36809700096c0\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1748513, \'job\': \'Negative Cutter\', \'name\': \'Rick Mackay\', \'profile_path\': None}, {\'credit_id\': \'589218429251412dd1009d1b\', \'department\': \'Art\', \'gender\': 0, \'id\': 1458006, \'job\': \'Title Designer\', \'name\': \'Susan Bradley\', \'profile_path\': None}, {\'credit_id\': \'5891ed99c3a3680966007670\', \'department\': \'Crew\', \'gender\': 0, \'id\': 1748557, \'job\': \'Supervising Technical Director\', \'name\': \'William Reeves\', \'profile_path\': None}, {\'credit_id\': \'5891edcec3a3686b0a002eb2\', \'department\': \'Sound\', \'gender\': 2, \'id\': 7885, \'job\': \'Songs\', \'name\': \'Randy Newman\', \'profile_path\': \'/w0JzfoiM25nrnxYOzosPHRq6mlE.jpg\'}, {\'credit_id\': \'5891edf9c3a36809700075e6\', \'department\': \'Writing\', \'gender\': 2, \'id\': 7, \'job\': \'Original Story\', \'name\': \'Andrew Stanton\', \'profile_path\': \'/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg\'}, {\'credit_id\': \'58920f0b9251412dd7009104\', \'department\': \'Crew\', \'gender\': 2, \'id\': 12890, \'job\': \'Supervising Animator\', \'name\': \'Pete Docter\', \'profile_path\': \'/r6ngPgnReA3RHmKjmSoVsc6Awjp.jpg\'}, {\'credit_id\': \'58920f1fc3a3680977009021\', \'department\': \'Sound\', \'gender\': 2, \'id\': 2216, \'job\': \'Sound Designer\', \'name\': \'Gary Rydstrom\', \'profile_path\': \'/jZpr1nVfO7lldWI0YtmP1FGw7Rj.jpg\'}, {\'credit_id\': \'58920f389251412dd700912d\', \'department\': \'Production\', \'gender\': 0, \'id\': 12909, \'job\': \'Production Supervisor\', \'name\': \'Karen Robert Jackson\', \'profile_path\': None}, {\'credit_id\': \'58920fbd9251412dcb00969c\', \'department\': \'Crew\', \'gender\': 0, \'id\': 953331, \'job\': \'Executive Music Producer\', \'name\': \'Chris Montan\', \'profile_path\': None}, {\'credit_id\': \'589210069251412dd7009219\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 7893, \'job\': \'Animation Director\', \'name\': \'Rich Quade\', \'profile_path\': None}, {\'credit_id\': \'589210329251412dcd00943b\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 8025, \'job\': \'Animation\', \'name\': \'Michael Berenstein\', \'profile_path\': None}, {\'credit_id\': \'5892103bc3a368096a009180\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 78009, \'job\': \'Animation\', \'name\': \'Colin Brady\', \'profile_path\': None}, {\'credit_id\': \'5892105dc3a3680968008db2\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748682, \'job\': \'Animation\', \'name\': \'Davey Crockett Feiten\', \'profile_path\': None}, {\'credit_id\': \'589210669251412dcd009466\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1454030, \'job\': \'Animation\', \'name\': \'Angie Glocka\', \'profile_path\': None}, {\'credit_id\': \'5892107c9251412dd1009613\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748683, \'job\': \'Animation\', \'name\': \'Rex Grignon\', \'profile_path\': None}, {\'credit_id\': \'5892108ac3a3680973008d3f\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748684, \'job\': \'Animation\', \'name\': \'Tom K. Gurney\', \'profile_path\': None}, {\'credit_id\': \'58921093c3a3686348004477\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 8029, \'job\': \'Animation\', \'name\': \'Jimmy Hayward\', \'profile_path\': \'/lTDRpudEY7BDwTefXbXzMlmb0ui.jpg\'}, {\'credit_id\': \'5892109b9251412dcd0094b0\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1426773, \'job\': \'Animation\', \'name\': \'Hal T. Hickel\', \'profile_path\': None}, {\'credit_id\': \'589210a29251412dc5009a29\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 8035, \'job\': \'Animation\', \'name\': \'Karen Kiser\', \'profile_path\': None}, {\'credit_id\': \'589210ccc3a3680977009191\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748688, \'job\': \'Animation\', \'name\': \'Anthony B. LaMolinara\', \'profile_path\': None}, {\'credit_id\': \'589210d7c3a3686b0a004c1f\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 587314, \'job\': \'Animation\', \'name\': \'Guionne Leroy\', \'profile_path\': None}, {\'credit_id\': \'589210e1c3a36809770091a7\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 7918, \'job\': \'Animation\', \'name\': \'Bud Luckey\', \'profile_path\': \'/pcCh7G19FKMNijmPQg1PMH1btic.jpg\'}, {\'credit_id\': \'589210ee9251412dc200978a\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748689, \'job\': \'Animation\', \'name\': \'Les Major\', \'profile_path\': None}, {\'credit_id\': \'589210fa9251412dc8009595\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 7892, \'job\': \'Animation\', \'name\': \'Glenn McQueen\', \'profile_path\': None}, {\'credit_id\': \'589211029251412dc8009598\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 555795, \'job\': \'Animation\', \'name\': \'Mark Oftedal\', \'profile_path\': None}, {\'credit_id\': \'5892110b9251412dc800959d\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 7882, \'job\': \'Animation\', \'name\': \'Jeff Pidgeon\', \'profile_path\': \'/yLddkg5HcgbJg00cS13GVBnP0HY.jpg\'}, {\'credit_id\': \'58921113c3a36863480044e4\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 8017, \'job\': \'Animation\', \'name\': \'Jeff Pratt\', \'profile_path\': None}, {\'credit_id\': \'5892111c9251412dcb0097e9\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1184140, \'job\': \'Animation\', \'name\': \'Steve Rabatich\', \'profile_path\': None}, {\'credit_id\': \'58921123c3a36809700090f6\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 8049, \'job\': \'Animation\', \'name\': \'Roger Rose\', \'profile_path\': None}, {\'credit_id\': \'5892112b9251412dcb0097fb\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1509559, \'job\': \'Animation\', \'name\': \'Steve Segal\', \'profile_path\': None}, {\'credit_id\': \'589211349251412dc80095c3\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748691, \'job\': \'Animation\', \'name\': \'Doug Sheppeck\', \'profile_path\': None}, {\'credit_id\': \'5892113cc3a3680970009106\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 8050, \'job\': \'Animation\', \'name\': \'Alan Sperling\', \'profile_path\': None}, {\'credit_id\': \'58921148c3a3686b0a004c99\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 8010, \'job\': \'Animation\', \'name\': \'Doug Sweetland\', \'profile_path\': None}, {\'credit_id\': \'58921150c3a3680966009125\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 8044, \'job\': \'Animation\', \'name\': \'David Tart\', \'profile_path\': None}, {\'credit_id\': \'589211629251412dc5009b00\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1454034, \'job\': \'Animation\', \'name\': \'Ken Willard\', \'profile_path\': None}, {\'credit_id\': \'589211c1c3a3686b0a004d28\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 7887, \'job\': \'Visual Effects Supervisor\', \'name\': \'Thomas Porter\', \'profile_path\': None}, {\'credit_id\': \'589211d4c3a3680968008ed9\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1406878, \'job\': \'Visual Effects\', \'name\': \'Mark Thomas Henne\', \'profile_path\': None}, {\'credit_id\': \'589211f59251412dd4008e65\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748698, \'job\': \'Visual Effects\', \'name\': \'Oren Jacob\', \'profile_path\': None}, {\'credit_id\': \'58921242c3a368096a00939b\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748699, \'job\': \'Visual Effects\', \'name\': \'Darwyn Peachey\', \'profile_path\': None}, {\'credit_id\': \'5892124b9251412dc5009bd2\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748701, \'job\': \'Visual Effects\', \'name\': \'Mitch Prater\', \'profile_path\': None}, {\'credit_id\': \'58921264c3a3686b0a004dbf\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748703, \'job\': \'Visual Effects\', \'name\': \'Brian M. Rosen\', \'profile_path\': None}, {\'credit_id\': \'589212709251412dcd009676\', \'department\': \'Lighting\', \'gender\': 1, \'id\': 12912, \'job\': \'Lighting Supervisor\', \'name\': \'Sharon Calahan\', \'profile_path\': None}, {\'credit_id\': \'5892127fc3a3686b0a004de5\', \'department\': \'Lighting\', \'gender\': 0, \'id\': 7899, \'job\': \'Lighting Supervisor\', \'name\': \'Galyn Susman\', \'profile_path\': None}, {\'credit_id\': \'589212cdc3a3680970009268\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 12915, \'job\': \'CG Painter\', \'name\': \'William Cone\', \'profile_path\': None}, {\'credit_id\': \'5892130f9251412dc8009791\', \'department\': \'Art\', \'gender\': 0, \'id\': 1748705, \'job\': \'Sculptor\', \'name\': \'Shelley Daniels Lekven\', \'profile_path\': None}, {\'credit_id\': \'5892131c9251412dd4008f4c\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 7889, \'job\': \'Character Designer\', \'name\': \'Bob Pauley\', \'profile_path\': None}, {\'credit_id\': \'589213249251412dd100987b\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 7918, \'job\': \'Character Designer\', \'name\': \'Bud Luckey\', \'profile_path\': \'/pcCh7G19FKMNijmPQg1PMH1btic.jpg\'}, {\'credit_id\': \'5892132b9251412dc80097b1\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 7, \'job\': \'Character Designer\', \'name\': \'Andrew Stanton\', \'profile_path\': \'/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg\'}, {\'credit_id\': \'58921332c3a368634800467b\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 12915, \'job\': \'Character Designer\', \'name\': \'William Cone\', \'profile_path\': None}, {\'credit_id\': \'5892135f9251412dd4008f90\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748706, \'job\': \'Character Designer\', \'name\': \'Steve Johnson\', \'profile_path\': None}, {\'credit_id\': \'58921384c3a3680973008fd4\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1176752, \'job\': \'Character Designer\', \'name\': \'Dan Haskett\', \'profile_path\': None}, {\'credit_id\': \'5892138e9251412dc20099fc\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1088034, \'job\': \'Character Designer\', \'name\': \'Tom Holloway\', \'profile_path\': \'/a0r0T2usTBpgMI5aZbRBDW1fTl8.jpg\'}, {\'credit_id\': \'58921395c3a368097700942f\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1447465, \'job\': \'Character Designer\', \'name\': \'Jean Gillmore\', \'profile_path\': None}, {\'credit_id\': \'589213e2c3a3680973009026\', \'department\': \'Directing\', \'gender\': 0, \'id\': 1748709, \'job\': \'Layout\', \'name\': \'Desirée Mourad\', \'profile_path\': None}, {\'credit_id\': \'589214099251412dc5009d57\', \'department\': \'Art\', \'gender\': 0, \'id\': 1748710, \'job\': \'Set Dresser\', \'name\': "Kelly O\'Connell", \'profile_path\': None}, {\'credit_id\': \'58921411c3a3686b0a004f70\', \'department\': \'Art\', \'gender\': 0, \'id\': 1443471, \'job\': \'Set Dresser\', \'name\': \'Sonoko Konishi\', \'profile_path\': None}, {\'credit_id\': \'58921434c3a368096a00956e\', \'department\': \'Art\', \'gender\': 0, \'id\': 1748711, \'job\': \'Set Dresser\', \'name\': \'Ann M. Rockwell\', \'profile_path\': None}, {\'credit_id\': \'5892144ac3a36809680090de\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1748712, \'job\': \'Editorial Manager\', \'name\': \'Julie M. McDonald\', \'profile_path\': None}, {\'credit_id\': \'58921479c3a368096800910f\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1589729, \'job\': \'Assistant Editor\', \'name\': \'Robin Lee\', \'profile_path\': None}, {\'credit_id\': \'5892148b9251412dd10099cc\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1748716, \'job\': \'Assistant Editor\', \'name\': \'Tom Freeman\', \'profile_path\': None}, {\'credit_id\': \'589214959251412dcb009b1f\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1748717, \'job\': \'Assistant Editor\', \'name\': \'Ada Cochavi\', \'profile_path\': None}, {\'credit_id\': \'5892149ec3a3686348004798\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1336438, \'job\': \'Assistant Editor\', \'name\': \'Dana Mulligan\', \'profile_path\': None}, {\'credit_id\': \'589214adc3a368096a0095db\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1748718, \'job\': \'Editorial Coordinator\', \'name\': \'Deirdre Morrison\', \'profile_path\': None}, {\'credit_id\': \'589214c7c3a368097700952b\', \'department\': \'Production\', \'gender\': 0, \'id\': 1748719, \'job\': \'Production Coordinator\', \'name\': \'Lori Lombardo\', \'profile_path\': None}, {\'credit_id\': \'589214cec3a368096a009603\', \'department\': \'Production\', \'gender\': 0, \'id\': 1748720, \'job\': \'Production Coordinator\', \'name\': \'Ellen Devine\', \'profile_path\': None}, {\'credit_id\': \'589214e39251412dc8009904\', \'department\': \'Crew\', \'gender\': 0, \'id\': 1468014, \'job\': \'Unit Publicist\', \'name\': \'Lauren Beth Strogoff\', \'profile_path\': None}, {\'credit_id\': \'58921544c3a3686b0a00507d\', \'department\': \'Sound\', \'gender\': 2, \'id\': 2216, \'job\': \'Sound Re-Recording Mixer\', \'name\': \'Gary Rydstrom\', \'profile_path\': \'/jZpr1nVfO7lldWI0YtmP1FGw7Rj.jpg\'}, {\'credit_id\': \'5892154c9251412dd1009a56\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1425978, \'job\': \'Sound Re-Recording Mixer\', \'name\': \'Gary Summers\', \'profile_path\': None}, {\'credit_id\': \'58921555c3a36809680091bd\', \'department\': \'Sound\', \'gender\': 2, \'id\': 8276, \'job\': \'Supervising Sound Editor\', \'name\': \'Tim Holland\', \'profile_path\': None}, {\'credit_id\': \'589215c39251412dcb009c12\', \'department\': \'Sound\', \'gender\': 0, \'id\': 7069, \'job\': \'Sound Effects Editor\', \'name\': \'Pat Jackson\', \'profile_path\': None}, {\'credit_id\': \'58921698c3a368096a009788\', \'department\': \'Crew\', \'gender\': 2, \'id\': 15894, \'job\': \'Sound Design Assistant\', \'name\': \'Tom Myers\', \'profile_path\': None}, {\'credit_id\': \'589216a89251412dc2009ca4\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1414177, \'job\': \'Assistant Sound Editor\', \'name\': \'J.R. 

In [42]:
def director(lista):
    return [d['name'] for d in eval(lista) if d['job']=='Director'] 
    # Por cada diccionario en la lista, si job = Director, entonces regresa el nombre

modelo_lite['crew'] = modelo_lite['crew'].apply(director)
modelo_lite['crew'][:5]

0      [John Lasseter]
1      [Howard Deutch]
2      [Charles Shyer]
3    [Martin Campbell]
4        [Simon Wells]
Name: crew, dtype: object

In [43]:
modelo_lite.head(3)

,belongs_to_collection,genres,id,overview,production_companies,tagline,title,cast,crew
0,Toy Story Collection,"[Animation, Comedy, Family]",862,"Led by Woody, Andy's toys live happily in his ...",[Pixar Animation Studios],NaN,Toy Story,"[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...",[John Lasseter]
1,Grumpy Old Men Collection,"[Romance, Comedy]",15602,A family wedding reignites the ancient feud be...,"[Warner Bros., Lancaster Gate]",Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,"[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...",[Howard Deutch]
2,Father of the Bride Collection,[Comedy],11862,Just when George Banks has recovered from his ...,"[Sandollar Productions, Touchstone Pictures]",Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,"[Steve Martin, Diane Keaton, Martin Short, Kim...",[Charles Shyer]

# Lista la limpieza, ahora se comienza las transformaciones para generar el modelo

* Para las columnas belongs_to_collection, overview y tagline, haremos una lista con cada palabra como item

In [44]:
modelo_lite[modelo_lite['tagline'].isna()].shape
# aqui se ve que los valores nulos en tagline estan guardados como float

(847, 9)

In [45]:
def spliter(texto):
    if type(texto) != str:
        texto = ''  # los nulos son typo nan (nulo float), esto genera un error, que se resolvio
                    # sustituyendo el nulo float por un string vacio
    return texto.split()

modelo_lite['belongs_to_collection'] = modelo_lite['belongs_to_collection'].apply(spliter)
modelo_lite['overview'] = modelo_lite['overview'].apply(spliter)
modelo_lite['tagline'] = modelo_lite['tagline'].apply(spliter)
modelo_lite['model_title'] = modelo_lite['title'].apply(spliter) # se creo una columna aparte del titulo para el modelo

modelo_lite.head(3)

,belongs_to_collection,genres,id,overview,production_companies,tagline,title,cast,crew,model_title
0,"[Toy, Story, Collection]","[Animation, Comedy, Family]",862,"[Led, by, Woody,, Andy's, toys, live, happily,...",[Pixar Animation Studios],[],Toy Story,"[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...",[John Lasseter],"[Toy, Story]"
1,"[Grumpy, Old, Men, Collection]","[Romance, Comedy]",15602,"[A, family, wedding, reignites, the, ancient, ...","[Warner Bros., Lancaster Gate]","[Still, Yelling., Still, Fighting., Still, Rea...",Grumpier Old Men,"[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...",[Howard Deutch],"[Grumpier, Old, Men]"
2,"[Father, of, the, Bride, Collection]",[Comedy],11862,"[Just, when, George, Banks, has, recovered, fr...","[Sandollar Productions, Touchstone Pictures]","[Just, When, His, World, Is, Back, To, Normal....",Father of the Bride Part II,"[Steve Martin, Diane Keaton, Martin Short, Kim...",[Charles Shyer],"[Father, of, the, Bride, Part, II]"

### Ahora, para aquellos casos donde hayan espacios (como nombres propios), se eliminaran los espacios para hacer palabras compuestas.
* No se hizo con los titulos para mejorar las recomendaciones del modelo

In [46]:
def espacios_lista(lista):
    return [word.replace(" ","") for word in lista]

modelo_lite['genres'] = modelo_lite['genres'].apply(espacios_lista)
modelo_lite['production_companies'] = modelo_lite['production_companies'].apply(espacios_lista)
modelo_lite['cast'] = modelo_lite['cast'].apply(espacios_lista)
modelo_lite['crew'] = modelo_lite['crew'].apply(espacios_lista)

modelo_lite.head(3)

,belongs_to_collection,genres,id,overview,production_companies,tagline,title,cast,crew,model_title
0,"[Toy, Story, Collection]","[Animation, Comedy, Family]",862,"[Led, by, Woody,, Andy's, toys, live, happily,...",[PixarAnimationStudios],[],Toy Story,"[TomHanks, TimAllen, DonRickles, JimVarney, Wa...",[JohnLasseter],"[Toy, Story]"
1,"[Grumpy, Old, Men, Collection]","[Romance, Comedy]",15602,"[A, family, wedding, reignites, the, ancient, ...","[WarnerBros., LancasterGate]","[Still, Yelling., Still, Fighting., Still, Rea...",Grumpier Old Men,"[WalterMatthau, JackLemmon, Ann-Margret, Sophi...",[HowardDeutch],"[Grumpier, Old, Men]"
2,"[Father, of, the, Bride, Collection]",[Comedy],11862,"[Just, when, George, Banks, has, recovered, fr...","[SandollarProductions, TouchstonePictures]","[Just, When, His, World, Is, Back, To, Normal....",Father of the Bride Part II,"[SteveMartin, DianeKeaton, MartinShort, Kimber...",[CharlesShyer],"[Father, of, the, Bride, Part, II]"

* Creamos nueva columna con todas las palabras en las listas llamada tags

In [47]:
# todos las listas de palabras en una sola gran lista llamada tags
modelo_lite['tags'] = modelo_lite['belongs_to_collection'] + modelo_lite['genres'] + modelo_lite['overview'] + modelo_lite['production_companies'] + modelo_lite['tagline'] + modelo_lite['cast'] + modelo_lite['crew'] + modelo_lite['model_title']

modelo_lite.columns

Index(['belongs_to_collection', 'genres', 'id', 'overview',
       'production_companies', 'tagline', 'title', 'cast', 'crew',
       'model_title', 'tags'],
      dtype='object')

* Creamos un nuevo data set con title y tags

In [48]:
dataset_modelo = modelo_lite[['title','tags']].copy()
dataset_modelo.head(3)

,title,tags
0,Toy Story,"[Toy, Story, Collection, Animation, Comedy, Fa..."
1,Grumpier Old Men,"[Grumpy, Old, Men, Collection, Romance, Comedy..."
2,Father of the Bride Part II,"[Father, of, the, Bride, Collection, Comedy, J..."

* Se convirtió la lista en tags como un solo texto con todas las palabras

In [49]:
def str_convert(lista):
    return ' '.join(lista)

dataset_modelo['tags'] = dataset_modelo['tags'].apply(str_convert)

dataset_modelo.head(3)

,title,tags
0,Toy Story,Toy Story Collection Animation Comedy Family L...
1,Grumpier Old Men,Grumpy Old Men Collection Romance Comedy A fam...
2,Father of the Bride Part II,Father of the Bride Collection Comedy Just whe...

# Modelo de recomendacion

In [50]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(max_features=1250, stop_words='english')

# max-features para limitar la cantidad de palabras, y stop-words para eliminar palabras irrelevantes
# el por que del valor 1250 se explica mas adelante

In [51]:
# la transformacion hace que tengamos tantas columnas como palabras diferentes y ver cuales aparecen
# aqui la cantidad de palabras diferentes (columnas) son 1250 pq fue el limite puesto al vectorizador

vector = cv.fit_transform(dataset_modelo['tags']).toarray()
vector.shape

(3064, 1250)

### Render nos da un maximo de 512 Mb de memoria, por lo que se hizo ensayo y error al correr el cosine_similarity cambiando el max_features en el vectorizador.
* El maximo valor de max_features que no generaba uso de memoria mayor a 512 Mb fue 1250

In [52]:
from sklearn.metrics.pairwise import cosine_similarity
import tracemalloc

tracemalloc.start()
similitud = cosine_similarity(vector)

tracemalloc.get_traced_memory()
print(f'{round((tracemalloc.get_traced_memory()[1]-tracemalloc.get_traced_memory()[0])/125000, ndigits=2)} Mb')
tracemalloc.stop()

490.25 Mb

In [53]:
similitud.shape

(3064, 3064)

In [54]:
def recomendacion(titulo):

    if titulo not in dataset_modelo['title'].tolist():
        print('Hay algun error en el nombre introducido (considere mayúsculas) o la película no se encuentra en la base de datos')
    
    # se busca el indice correspondiente a la pelicula que se ingreso
    indice = dataset_modelo[dataset_modelo['title']== titulo].index[0]

    # con el indice se extrae la fila de la pelicula y toda su semejanza con el resto de peliculas, ordenando de mayor a menor
    distancia = sorted(list(enumerate(similitud[indice])), reverse=True, key=lambda x: x[1])

    # se extrae del 2do al 6 valor (el primero es la pelicula ingresada)
    for i in distancia[1:6]:
        print(dataset_modelo.iloc[i[0]].title)

recomendacion('Toy Story')

Toy Story 2
Toy Story 3
Thumbtanic
The Rutles: All You Need Is Cash
A Cinderella Story: Once Upon a Song

### Algunos ejemplos de recomendaciones

In [55]:
recomendacion('The Land Before Time')

The Land Before Time X: The Great Longneck Migration
The Land Before Time IV: Journey Through the Mists
The Land Before Time VIII: The Big Freeze
The Land Before Time II: The Great Valley Adventure
The Land Before Time III: The Time of the Great Giving

In [56]:
recomendacion('Stuart Little 3: Call of the Wild')

Stuart Little
Stuart Little 2
The Brave Little Toaster to the Rescue
The Fox and the Hound
The Brave Little Toaster Goes to Mars

In [57]:
recomendacion('Batman vs. Robin')

Batman Unlimited: Monster Mayhem
Batman: Bad Blood
Son of Batman
Batman Beyond: Return of the Joker
Batman Beyond: The Movie

In [58]:
recomendacion('Pirates of the Caribbean: The Curse of the Black Pearl')

Pirates of the Caribbean: Dead Man's Chest
Pirates of the Caribbean: On Stranger Tides
Pirates of the Caribbean: Dead Men Tell No Tales
Pirates of the Caribbean: At World's End
Transporter 3

In [59]:
recomendacion('Star Trek Into Darkness')

Star Trek Beyond
Star Trek: Generations
Star Trek: First Contact
Star Trek III: The Search for Spock
Star Trek: Insurrection

In [60]:
recomendacion('Fast Five')

Fast & Furious 6
Fast & Furious
2 Fast 2 Furious
The Fast and the Furious
The Fate of the Furious

In [61]:
recomendacion('Superman III')

Superman
Superman II
Superman IV: The Quest for Peace
Superman Returns
The Batman Superman Movie: World's Finest

In [62]:
dataset_modelo.sample(5)

,title,tags
353,Rocky III,"Rocky Collection Drama Now the world champion,..."
1822,Hoodwinked Too! Hood VS. Evil,Hoodwinked! Collection Comedy Animation Family...
1797,The Little Mermaid: Ariel's Beginning,The Little Mermaid Collection Family Animation...
2949,The Escape,The Hire Thriller Action After the controversi...
1809,Resident Evil: Retribution,Resident Evil Collection Action Horror Science...

In [63]:
# codigo para guardar el dataset final para el modelo
# dataset_modelo.to_csv('modelo_database.csv', index=False)